body {
  background-color: powderblue;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.header {
  padding: 20px;
  text-align: center;
  background: steelblue;
  color: blue;
  font-size: 20px;
}

h1 {
  color: Red;
  font-size: 50px;
  font-family: Rubik;
}

h5{
  color: white;
  font-size: 40px;
  font-weight: 400;
}


h2 {
  color: black;
  font-size: 35px;
  font-family: Rubik;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

h4{
  font-size: 22.5px;
  font-weight: 600;
}

p{
  font-size: 15px;
}
